# Ігноруємо все, крім файлів для GitHub Pages

# Заборонити все зайве
node_modules/
package.json
package-lock.json
tsconfig.json
.vscode/
.env
.gitignore

# Дозволити лише білд
!index.html
!404.html
!assets/
!logos/
!models/
!vite.svg
